
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
          <a class="navbar-brand" href="#"><i class="fa-solid fa-briefcase"></i> Portafolio Christopher</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <%= link_to "<i class='fa-solid fa-house-chimney'></i> Home".html_safe, home_path, class:"nav-link active" %>
              </li>
              <li class="nav-item">
                <%= link_to "<i class='fa-solid fa-book'></i> Proyectos".html_safe, projects_path, class:"nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "<i class='fa-solid fa-envelope'></i> Contacto".html_safe, contact_path, class:"nav-link" %>
              </li>
            </ul>
          </div>
        </div>
    </nav>
      
    <!-- contenido página -->
    <div class="container">
      <div class="row">
        <h1 class="text-center py-5">Portafolio de trabajo</h1>
        <div class="col-12">
          <p>Hola! mi nombre es Christopher Paredes del bootcamp "Ruby on Rails para Startups" mostrando mi pequeño portafolio, el cual, muestra algunos proyectos en los cuales he trabajado.</p>
        </div>
      </div>
    </div>

